In [2]:
import pandas as pd

df = pd.read_csv('../data/processed/cleaned_land_use_data.csv')

df.head()

,Year,Subdivision,Cropland_pct,Grassland_pct,Forest_pct,Wetland_pct,Cropland_area,Grassland_area,Forest_area,Wetland_area,Biodiversity_Score
0,2000-01-01,1,48.423590,22.447908,17.976951,11.151550,4842.358998,2244.790823,1797.695130,1115.155049,0.482540
1,2001-01-01,1,51.335362,22.963853,17.747514,7.953270,5133.536248,2296.385289,1774.751423,795.327040,0.463808
2,2002-01-01,1,51.479157,22.624337,17.708999,8.187507,5147.915682,2262.433700,1770.899942,818.750676,0.463585
3,2003-01-01,1,51.392751,20.299837,17.129947,11.177465,5139.275142,2029.983661,1712.994723,1117.746474,0.468174
4,2004-01-01,1,51.475015,22.063842,17.344408,9.116735,5147.501494,2206.384233,1734.440775,911.673498,0.464367